{% extends "layouts/base.html" %}
{% block title %}Symptom Detail{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-itmes-center mb-3">
    <h1 class="h3 mb-3">Symptom: "{{ fact.symptom }}"<h1>
    <div>
        <a href="{{ url_for('facts.delete_confirm', fact_id=fact.id) }}"
            class="btn btn-warning">
            Edit
        </a>
        <a href="{{ url_for('facts.index') }}" class="btn btn-secondary">
            Back
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <p><strong>Symptom:</strong> {{ fact.symptom }}</p>
        <p><strong>Description:</strong> {{ fact.description or '-' }}</p>
    </div>
</div>
{% endblock  %}