{% extends "layouts/base.html" %}
{% block title %}Edit Role{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-xl-7">
        <h1 class="h3 mb-3">Edit Role: {{ role.name }}</h1>
        <div class="card shadow-sm">
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {% include "roles/_form.html" %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}